/* Global */
*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color:#fff;
  color: #4A4B4C;
}
img{
  min-width: 100%;
  height: auto;
}
*:focus{
  outline: 2px dashed deepskyblue;
  outline-offset: unset 3px;
}

.button{
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight:500px;
  text-decoration: none;
  align-items: center;
  cursor:pointer;
}

.button-primary{
  background-color: #7296EC;
  color: #fff;
}

.button-primary:hover{
  opacity: 0.8;
}

.button-primary:active{
  opacity: 0.6;
}

/* Container */
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}




.header-top{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.site-header-container{
  display: flex;
  align-items: center;
}

.site-header-logo{
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;
  background-color: #fff;
}

.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}
/* Currency-rates */
.currency-rates{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.curency-rates-item:not(:last-child){
  margin-right: 25px;
}

.curency-rates-type{
  color: #2959CE;
}

  /* Global-search-form */
.search-form{
  margin-right: 25px;
}

.search-form-text{
padding-top: 15px;
padding-right: 20px;
padding-bottom:13px;
padding-left: 40px;
    font-size: 14px;
  line-height: normal;
  border:0;
  border-radius: 60px;
  color:  #8D8D8D;
  background-color: #fff;
}

/* Lang-toggle */

.languages-list{
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
  margin-right: 25px;
}

.languages-item{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}

.languages-item-active{
  background-color: #fff;
  color: #000;
}

/* site-nav */


.sitenav {
  padding-top: 12px;
  padding-bottom: 20px;
border-bottom: 1px solid #d1d1d1;
margin-bottom: 40px;
font-size: 18px;
line-height: normal;
font-weight: 500;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
align-items: center;
padding: 0;
margin: 0;
list-style: none;

}

.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child){
margin-right: 34.44px;
}
.sitenav-link{
  display: block;
  color: #7f7f7f;
text-decoration:none ;
}



/* site-header-banner */
.site-header-banner-link{
  display: flex;
}