/* Global */
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
font-family: "Rubik", sans-serif;
font-size: 16px;
line-height: 22px;
background-color:#f6f6f6;
color: #4A4B4C;
}

/* Container */
.container{
  width: 100%;
  max-width: 1440px;
padding-left: 120px;
padding-right: 120px;
margin-left: auto;
margin-right: auto;
}


.site-header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}

.header-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
padding-top: 30px;
padding-bottom: 25px;
background-color: #EEEEEE;
}

.currency{
  display: flex;
  justify-content: space-between;

}

.currency-icon{
  color: #2959CE;

}

.currency-balans{
  margin-left: 0;
  margin-right: 5px;
}

.currency-balans-P{
  margin-left: 0;
  margin-right: 5px;
}
.currency-P{
  margin-left: 25px;
}



.site-Войти{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  background-color: #7296EC;
  color: #fff;
border-radius: 10px;
line-height: 19px;
text-decoration: none;
}


.site-header-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0px;
padding-top: 22px;
padding-bottom: 20px;

}

.site-header-nav:not(:last-child){
  padding-right: 34.44px;
}

.main-item{
  list-style: none;
}

.languages-list{
  display: flex;
  justify-content:  space-between;
  align-items: center;
  width: 70px;
  height: 36px;
  background: #DCE6FF;
  border-radius: 39px;
}

.languages-item{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;

}

.site-header-hr{
  width: 1200px;
  border: 1px solid #D1D1D1;
  background-color: rgba(209, 209, 209, 1);
  margin-top: 0;
  margin-bottom: 44px;
}

.site-header-img{
  display: flex;
  justify-content: center;
}