/* Global */
*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color:#fff;
  color: #4A4B4C;
}
img{
  min-width: 100%;
  height: auto;
}
*:focus{
  outline: 2px dashed deepskyblue;
  outline-offset: 1px;
}

.button{
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  text-decoration: none;
  align-items: center;
  cursor:pointer;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-primary{
  background-color: #7296EC;
  color: #fff;
}

.button-orange{
  background-color: #F78B3B;
  color: #fff;
}


/* Container */
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}




.header-top{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.site-header-container{
  display: flex;
  align-items: center;
}

.site-header-logo{
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;
  background-color: #fff;
}

.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}
/* Currency-rates */
.currency-rates{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.curency-rates-item:not(:last-child){
  margin-right: 25px;
}

.curency-rates-type{
  color: #2959CE;
}

/* Global-search-form */
.search-form{
  margin-right: 25px;
}

.search-form-text{
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom:13px;
  padding-left: 40px;
  font-size: 14px;
  line-height: normal;
  border:0;
  border-radius: 60px;
  color:  #8D8D8D;
  background-color: #fff;
}

/* Lang-toggle */

.languages-list{
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
  margin-right: 25px;
}

.languages-item{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}

.languages-item-active{
  background-color: #fff;
  color: #000;
}

/* site-nav */


.sitenav {
  padding-top: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

}

.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child){
  margin-right: 34.44px;
}
.sitenav-link{
  display: block;
  color: #7f7f7f;
  text-decoration:none ;
}

/* site-header-banner */
.site-header-banner-link{
  display: flex;
}
/* Main */

.main-content{
  flex-grow: 1;
  padding-top: 50px;
}

.site-main-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.site-main-item{
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;

}

.article-card{
  display: flex;
  flex-direction: column;
  padding: 20px 16px 15px;
  background-color: #F6F6F6;
  border-radius: 15px;
}


.site-main-header{
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

}

.site-main-heade-link{
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.site-main-heade-link:hover{
  color: #688eee;
}

.site-main-heade-link:active{
  opacity: 0.6;
}

.site-main-text{
  margin-top: 0;
  margin-bottom: 15px;
}

.site-main-img{
  display: block;
  width: 360px;
  height: 165px;
  margin-top: auto;
  margin-bottom: 15px;
  border-radius:10px;
  object-fit: cover;
}

.site-main-list-bottom{
  display: flex;
  align-items: center;
}

.site-main-list-bottom-icon{
  width: 20px;
  min-width: 0;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

/* NOTIFICATION-CTA */

.notificatin-cta{
display: flex;
justify-content: space-between;
align-items: center;
    padding: 25px 70px 25px 25px;
margin: 60px 75px;
border-radius: 10px;
background-color: bisque;
}


.notificatin-cta-text{
font-size: 20px;
line-height: 26px;
font-weight: 500;
color: #000;

}
